/* .dark-theme{
    --white:#111;
    --black:#fff;
    --blue:#3a80e9;
    --grey:#888;
    --darkgrey:#1b1b1b;
    --green:#61c96f;
    --red:#f94141 ;
    --whitish:#fff;
    --backgroundColor:#111;
  }
  .light-theme{
    --white:#fff;
    --black:#111;
    --blue:#3a80e9;
    --grey:#888;
    --darkgrey:#fff;
    --green:#61c96f;
    --red:#f94141;
    --whitish:#fff;
    --backgroundColor:#EEF5FF;
  }

   */